bot/local_config.py
.venv/
__pycache__/
*.pyc
*.log
.DS_Store


# Secrets
service-account.json
bot/service-account.json
gi

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
