pytest
playwright
pytest-playwright
pytest-html
pytest-json-report
allure-pytest
PyYAML

discord.py
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-build
google-cloud-storage
google-cloud-core

